@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-rows: 700px;
  grid-template-columns: repeat(12, 1fr);
}

h1,h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
  color:goldenrod;
}

h1{
  color: rgb(194, 226, 255);
}

header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2/ 7;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: 50px;
  }

  p{
    color: aquamarine;
  }

  blockquote p {
    color: rgb(213, 36, 36);
    background-color: rgb(255, 255, 255);
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }




.hidden{
    opacity:0;
    filter: blur(5px);
    transform:translateX(-100%);
    transition: all 2s;
}

.showing{
    opacity:1;
    filter: blur(0);
    transform: translateX(-10%);
}

.navbar__menu{
  position: fixed;
  right: 0;
  top:0;
  background-color: rgb(180, 178, 178);
  padding:0;
  font-weight: bold;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#navbar__list{
    margin:0;
    padding:0;
}

.navbar__menu li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width:80px;
}

.navbar__menu #navbar__list li a{
  color:rgb(44, 42, 18);
  padding:1em;
  text-decoration: none;
}

.navbar__menu li:hover{
    background: rgb(0, 0, 0);
    transition: ease 0.3s all;
}

.navbar__menu #navbar__list li:hover a{
  color:rgb(0, 141, 212);
}






